<section class="budget-analysis">
  <section class="pie-chart-section">
    <div class="form-container">
      <h3 class="chart-title">Monthly Income by Category</h3>
      <canvas id="income-chart"></canvas>
    </div>
    <div class="form-container bottom">
      <h3 class="chart-title">Monthly Expenses by Category</h3>
      <canvas id="expense-chart"></canvas>
    </div>
  </section>
  <section class="pie-chart-section">
    <div id="overview-table"></div>
  </section>
  <div class="total-savings">
  <section class="pie-chart-section">
    <a id="savings" href="/items/{{budget.id}}">{{budget.total_savings}}</a>
  </div>
    <button class="delete-btn" id="delete-budget">Delete Budget Plan</button>  
</section>
<section class="budget-total-savings">
</section>

<script src="/js/budgetAnalysis.js"></script>