<section>
  <canvas id="income-chart" class="form-container"></canvas>
  <canvas id="expense-chart" class="form-container"></canvas>
</section>
<section>
   <div id="overview-table" ></div>
   <button id="delete-budget">Delete Budget Plan</button>
</section>

<script src="/js/budgetAnalysis.js"></script>