    <section class="budget-analysis">
    <div class="insights-container">
      <h1 class="chart-title">Budget Savings Percentage by Month</h1>
      <canvas id="budget-graph"></canvas>
    </div>
    <div class="form-container">
        <h1 class="insights-report">Your Annual Budget Report</h1>
        <a id="avg-savings"></a>
        <a id="total-savings"></a>
    </div>
    </section>


    <script src="/js/insights.js"></script>