    <section class="budget-analysis">
    <div class="insights-container">
      <h1 class="chart-title">Budget Savings by Month</h1>
      <canvas id="budget-graph"></canvas>
    </div>
    <div class="form-container">
        <h3 class="insights-report">Your Annual Budget Report</h3>
        <h4 id="savings">Your Monthly Average Savings Are</h4>
        <h4 id="savings">Your Total Monthly Savings Are</h4>
    </div>
    </section>


    <script src="/js/insights.js"></script>