<section class="form-container">
  <h2>Choose a Budget Name</h2>
  <div id="error-message" style="color: red;"></div>
  <br />

  <form class="form" id="new-budget-form">
   
    <label for="month-name">Month</label>
      <div class="form-group">
    <select id="month-dropdown" class="input-field">
      <option value="" disabled selected>Select a Month</option>
      <option value="January">January</option>
      <option value="February">February</option>
      <option value="March">March</option>
      <option value="April">April</option>
      <option value="May">May</option>
      <option value="June">June</option>
      <option value="July">July</option>
      <option value="August">August</option>
      <option value="September">September</option>
      <option value="October">October</option>
      <option value="November">November</option>
      <option value="December">December</option>
    </select>
    </div>
    <label for="budget-name">Name</label>
    <div class="form-group">
      <input class="form-input" type="text" id="budget-name" maxlength="255" />
    </div>
    {{> budgetList}}
    <div class="form-btn-container">
      <button type="submit">Submit</button>
    </div>
  </form>
  <p>Dont feel like creating a budget right now?</p>
  <p>
    Return to the home page
    <a href="/dashboard" style="color: blue">here.</a></p>
</section>

<script src="/js/createNewBudget.js"></script>